src/main/mule/salesforce.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="64163e5c-460b-4c60-b9db-f2124db4c54c" >
		<salesforce:basic-connection username="${salesforce.username}" password="${secure::salesforce.password}" securityToken="${secure::salesforce.token}" url="${salesforce.autorization.url}" />
	</salesforce:sfdc-config>
	<flow name="upsert-record-to-salesforce-flow" doc:id="0d9a6b5e-0c17-4aba-8e4e-31f9b5c97e2a" >
		<ee:transform doc:name="Transform Message for Salesforce" doc:id="af0c8235-2088-4508-b60b-ab82ea3563e5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	"FirstName": payload.FirstName,
	"LastName": payload.LastName,
	"DOB": payload.DOB,
	"Gender": payload.Gender,
	"Title": payload.Title,
	"Address": payload.Address map (value, index)->{
		"Type": value.'type',
		"Number": value.number,
		"Street": value.street,
		"Unit": value.unit,
		"City": value.city,
		"State": value.state,
		"Zipcode": value.zipcode
		
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="Upsert Recrod to Salesforce" doc:id="14425d91-9cd9-45b4-bd32-6cf7aa47f91e" name="salesforce-subflow"/>
		<ee:transform doc:name="Summary" doc:id="2f0a9964-6665-4203-b119-54174f55f340" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var status = vars.httpStatus
---
{
	success: if(status == 200) true else false,
	body: payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<sub-flow name="salesforce-subflow" doc:id="81d892ee-4077-48f9-bb1b-1f9a97e38e36" >
		<try doc:name="Try" doc:id="1d89f0e9-cc5a-4113-aa95-142ff32db170" >
			<salesforce:create doc:name="Create" doc:id="577ab636-1df7-498a-850b-8c5a1aa1efb1" config-ref="Salesforce_Config" type="${salesforce.type}" />
			<set-variable value="#[200]" doc:name="http Status" doc:id="bd852363-312e-4a8c-a348-5d584da34615" variableName="httpStatus"/>
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="d7c0e635-2803-44e6-95bc-4155add159a3" >
					<set-payload value="#[error.description]" doc:name="Error" doc:id="03f80d12-ec18-495f-95ff-043b9c25c34a" />
					<set-variable value="#[error.httpStatus default 400]" doc:name="http Status" doc:id="20baa9c1-5e3f-4867-a0ac-50ca3d7264ba" variableName="httpStatus"/>
				</on-error-continue>
			</error-handler>
		</try>
	</sub-flow>
</mule>
